apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: srwz
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-qzyr-tenant/byoc-app-fmqt/srwz@sha256:52f3841b750014239396a29611e3e93b6bd0ba443af8da725d23e8b6ce9cc1ed
        name: my-java-quarkus
        resources: {}
status: {}
